/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container {
	width: 880px;
	margin: auto;
}

.tabletlogo {
    display: none;
}

header {
	/* border: 5px dashed orange; */
	padding: 20px 20px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}

nav {
	/* border: 3px solid red; */
	width: 75%;
  
}
nav a {
	color: grey;
	text-decoration: none;
	padding: 0 25px 0px;
    text-decoration: none;
    font-family: 'Oswald';
    font-weight: extra-light;
	/* border: 3px solid blue; */
}

nav a:hover {
  color: black;
}


.intro-container {
	text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
	/* border: 3px solid green; */
}
.intro  {
	/* border: 4px dashed red; */
	text-align: center;
	padding: 0px 0px 40px;
}

 .intro h1 {
	font-size: 50pt;
	/* border: 1px dashed red; */
}  

.introimg {
	padding: 20px;
}

h2 {
  font-family: 'Titillium Web', sans-serif, none;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  width: 200px;
  margin-left: 45px;
}

h2 a {
  text-decoration: none;
  color: black;
}


h2:hover {
  animation-name: StartedFade;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  background: linear-gradient(90deg, #ffffff, #01d553);
  background-size: 400%;
}

@keyframes StartedFade {
  0% {background-position: 0% 0%}
  100% {background-position: 100% 100%}
}

header p {
	text-align: center;
	border: 1px solid black;
	width: 150px;
}
.codeimg {
	width: 30%;
	height: 30%;
	/*TRBL*/
	padding: 0 20px 20px 100px;
}

.top-content {
	border-top: 1px solid black;
    padding: 30px 0 30px;
    display: flex;
}

.top-content .features {
	width: 49%;
	margin-right: 5px;
}

.top-content .about {
	width: 49%;
}

.middle-img {
	display: block;
	width: 100%;
}

.bottom-content {
	border-bottom: 1px solid black;
	padding: 20px 0 30px;
  display: flex;
}

.bottom-content .services {
	width: 32%;
}

.bottom-content .product {
	width: 32%;
	margin: 0px 10px 0px;
}

.bottom-content .vision {
	width: 32%;
}

.contact-content {
	margin-top: 30px;
}
footer p {
    text-align: center;
    margin-top: 25px;
}

/***** Tablet ******/

@media (max-width: 800px) {
    .container {
        max-width: 760px;
        width: 100%;
    }

    header {
        display: block;
    }

    .tabletlogo {
        display: block;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 10px;
    }

    nav {
        width: 100%;
        justify-content: space-around;
    }

    nav a {
        padding: 0 20px 0px;
    }

    .logo {
        display: none;
    }

    .intro {
        padding-top: 20px;
        padding-bottom: 0px;
    }

    .introimg {
        display: none;
    }

    .top-content {
        margin: 0 30px 0 30px;
    }

    .middle-img {
        width: 100%;
        height: auto;
        vertical-align: middle;
        box-sizing: border-box;
        margin-left: 10px;
        margin-right: 10px;
    }

    .bottom-content {
        margin: 0 30px 0 30px;
    }

    .contact-content {
        margin: 0 30px 0 30px;
        padding-top: 20px;
    }
    
}


/*** Mobile View ***/

@media (max-width: 500px) {
    .container {
        max-width: 500px;
        width: 100%;
    }

    header {
        margin: 5px;
        padding: 5px;
    }

    nav a {
        display: block;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        padding-top: 10px;
        border-top: 1px solid black;
    }

    .introimg {
        display: none;
    }
    .top-content {
        flex-direction: column;
        width: 100%;
        padding-right: 40px;
    }

    .top-content .features {
        width: 100%;
    }

    .top-content .about {
        width: 100%;
        padding-top: 20px;
    }

    .middle-img {
        width: 100%;
    }
    
    .bottom-content {
        flex-direction: column;
        width: 100%;
        padding-right: 40px;
    }

    .bottom-content .services {
        width: 100%;
    }

    .bottom-content .product {
        width:100%;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 0px;
    }

    .bottom-content .vision {
        width: 100%;
    }
}

